@import '../common';

.navbar {
  height: 6.5rem;
  background-color: $primaryColor;
  padding: 1rem;

  .nav-links,
  .logo {
    display: inline-block;
  }

  .logo {
    color: $lightTextColor;
    margin-right: 50%;
  }

  .nav-links span {
    color: $darkTextColor;
    font-size: 1.6rem;
  }
}

md-menu-item.cartMenuItem {
  margin: 0 0 80px 0;
}
